<div class="product-content">
  <h1>Products</h1>
  <div class="action">
    <button class="action-addProduct" routerLink="add">Add products</button>
    <div class="action-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Search ......" />
    </div>
  </div>
  <table border="0" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="products && products.length">
      <tr *ngFor="let product of products; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>
          <img width="100px" [src]="product.image" alt="" />
        </td>
        <td>{{ product.priceNew }}</td>
        <td>
          <button class="btn-sua" routerLink="1/edit">Sửa</button>
          <button class="btn-xoa" (click)="confirmAndRemoveItem(product._id)">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
