<div class="user-content">
  <h1>Users</h1>
  <div class="action">
    <button class="action-addUser" routerLink="add">Add users</button>
    <div class="action-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Search ......" />
    </div>
  </div>
  <table border="0" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Email</th>
        <th>role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bùi Quỳnh</td>
        <td>quyenb596@mail.com</td>
        <td>admin</td>
        <td>
          <button class="btn-sua" routerLink="1/edit">Sửa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
