@charset "UTF-8";

//color
$Platinum: #E2E4E6;
$DarkSilver: #707070;
$PhilippineGray: #8C8C8C;
$CarminePink: #EA4242;
$Cinnabar: #DB4437;
$SteelBlue: #337ab7;
$Azure: #007AFF;
$BrightGray:#EBEBEB;

//size
$xxl: 1200px;
$lg: 1024px;
$sm: 768px;