@charset "UTF-8";

//Size
$xxl: 1200px;
$sm: 768px;
$s: 640px;

// color
$AntiFlashWhite: #f0f0f0;
$Gainsboro: #dddddd;
$Keppel: #45a29e;
$ElectricBlue: #66fcf1;
$MiddleBlueGreen: #97cdcd;
$PastelRed: #ff6666;
$LightSalmonPink: #ff9999;
