@charset "UTF-8";

//size
$xxl: 1200px;
$lg: 1024px;
$sm: 768px;
$s: 640px;

// font Family
$Geologica: 'Geologica', sans-serif;

//color
$BrightGray:#EBEBEB;
$Platinum: #E2E4E6;
$DarkSilver: #707070;
$DavyGrey: #55595c;
$CharlestonGreen: #2A2A2A;
$PhilippineGray: #8C8C8C;
$CarminePink: #EA4242;
$Cinnabar: #DB4437;
$SteelBlue: #337ab7;
$Azure: #007AFF;
$AntiFlashWhite: #f0f0f0;
$Gainsboro: #dddddd;
$Keppel: #45a29e;
$ElectricBlue: #66fcf1;
$MiddleBlueGreen: #97cdcd;
$PastelRed: #ff6666;
$LightSalmonPink: #ff9999;
$Cultured: #F5F5F5;