@import "./../../../../public/scss/utils/functions.scss";
@import "./../../../../public/scss/utils/variables.scss";
div{
    background-color: $Cultured;
    padding: 10px 0px;
    font-family: $Geologica;

    .login{        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        column-gap: 30px;
        // grid-template-columns: 1fr 1fr;
        @include Gird(grid, 2);
        @include max-screen($xxl){
            max-width: 900px;
            @include Gird(grid, 1);
        }
        @include max-screen($lg){
            max-width: 600px;
        }
        @include max-screen($s){
            max-width: 400px;
        }
        &-left{
            margin: 0px 10px 0px 10px;
            h3{
                font-weight: 700;
                font-size: 1.5rem;
            }
            form{
        

                .action{
                    display: flex;
                    flex-direction: column;
                    margin: 1rem 0rem;
                    label{
                        font-size: 1rem;
                        margin-bottom: 5px;
                    }
                    input{
                        margin-top: 4px;
                        padding: 0.5rem 0rem 0.5rem 1rem;
                        border: 1px solid $BrightGray;
                        line-height: 1.5;
                        font-size: 1em;
                        color: $DavyGrey;
                        outline: none;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                        &:focus{
                            box-shadow: 0 0 7px rgba(0, 225, 255, 0.3);
                        }
                    }
                }
                div{
                    .btn{
                        background-color: $CharlestonGreen;
                        text-transform: uppercase;
                        transition: all ease .3s;
                        cursor: pointer;
                        display: inline-block;
                        border: none;
                        color: white;
                        padding: 0 20px;
                        line-height: 40px;
                        &:hover{
                            background-color: $CarminePink;
                            border: none;
                        }
                        span{
                            margin-right: 10px;
                        }
                    }
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        margin-left: 15px;
                        color: $CharlestonGreen;
                    }
                }
            }
            &-bottom{
                div{
                    text-align: center;
                    @include Flex(flex, center, center);
                    column-gap: 20px;
                    button{
                        display: grid;
                        grid-template-columns: 0.5fr 1fr;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        height: 40px !important;
                        width: 140px;
                        border: none;
                        color: white;
                        font-size: 1rem;
                        div{       
                            border-right: 1px solid $BrightGray;
                            i{
                            grid-column: 0.5fr;
                            
                            height: 100%;
                            }
                        }
                        span{
                            grid-column: 1fr;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                    .face{
                        background-color: $SteelBlue;
                        div{
                            background-color: $SteelBlue;
                        }
                    }
                    .gg{
                        background-color: $Cinnabar;
                        div{
                            background-color: $Cinnabar;
                        }
                    }
                }
            }
        }
        &-right{
            margin: 0px 10px 0px 10px;
            h3{
                font-weight: 700;
                font-size: 1.5rem;
            }
            div{
                font-size: 1rem;
                color: $CharlestonGreen;
                word-spacing: 1px;
                line-height: 30px;
            }
            button{
                background-color: $CharlestonGreen;
                text-transform: uppercase;
                transition: all ease .3s;
                cursor: pointer;
                display: inline-block;
                border: none;
                color: white;
                padding: 0 20px;
                line-height: 40px;                
                &:hover{
                    background-color: $CarminePink;
                    border: none;
                }
                span{
                    margin-right: 10px;
                }
            }
        }
    }

}
