<div class="product-add">
  <h1>Products edit</h1>
  <form action="" class="form">
    <div class="form-control">
      <label for="">Name:</label>
      <input type="text" class="name" value="Bùi Quỳnh" disabled />
    </div>

    <div class="form-control">
      <label for="">Email:</label>
      <input type="email" class="email" value="quyenb596@gmail.com" disabled />
    </div>
    <div class="form-control">
      <label for="">Password:</label>
      <input type="password" class="password" value="090807" disabled />
    </div>

    <div class="form-control">
      <label for="">Role:</label>
      <select name="role" id="">
        <option value="1">member</option>
        <option value="2">Admin</option>
      </select>
    </div>
    <div class="form-control">
      <div class="btn">
        <input width="300px" class="btn-add" type="submit" value="Sửa" />
      </div>
    </div>
  </form>
</div>
