<div class="product-content">
  <h1>Category</h1>
  <div class="action">
    <button class="action-addProduct" routerLink="add">Thêm Category</button>
    <div class="action-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Search ......" />
    </div>
  </div>
  <table border="0" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Category</th>
        <Th>Chức năng</Th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>categori 1</td>
        <td>
          <button class="btn-sua" routerLink="1/edit">Sửa</button>
          <button class="btn-xoa">Xóa</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>categori 2</td>
        <td>
          <button class="btn-sua" routerLink="1/edit">Sửa</button>
          <button class="btn-xoa">Xóa</button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>categori 3</td>
        <td>
          <button class="btn-sua" routerLink="1/edit">Sửa</button>
          <button class="btn-xoa">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
