@import "../../../../../public/scss/utils/functions.scss";
@import "../../../../../public/scss/utils/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  @include Flex(flex, flex-start, center);
  @include Gap(5px, 0);
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  font-family: $Geologica;
  border-bottom: 1px solid #ebebeb;
  @include max-screen($xxl) {
    max-width: 900px;
  }
  @include max-screen($lg) {
    max-width: 600px;
  }
  @include max-screen($s) {
    max-width: 400px;
  }
  p {
    @include Size(14px, 400, normal);
    cursor: pointer;
    &:hover {
      color: $CarminePink;
    }
  }
  span {
    @include Size(14px, 400, normal);
    cursor: pointer;
    &::before {
      content: "\f101";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 5px;
      color: #ccc;
    }
    &:hover {
      color: $CarminePink;
    }
  }
  .line {
    color: $CarminePink;
  }
}

.block-true {
  display: none;
  margin: 0 auto;
  .item-empty {
    padding: 90px;
    height: calc(100vh - 850px);
    max-width: 1200px;
    margin: 0 auto;
    @include Flex(Flex, center, center);
    flex-direction: column;
    i {
      color: $CarminePink;
      font-size: 80px;
      margin: 20px 0px;
    }
    span {
      margin-bottom: 20px;
    }
  }
}
.block-false {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  table {
    width: 100%;
    border: 1px solid $BrightGray;
    tbody {
      text-align: center;

      tr {
        td {
          padding: 6px 10px;

          border-top: 1px solid $BrightGray;

          border-right: 1px solid $BrightGray;

          img {
            max-width: 100px;

            max-height: 100px;
          }

          .chucnang {
            @include Flex(flex, center, center);

            button {
              border: 1px solid;

              padding: 5.5px;
            }

            span {
              border-top: 1px solid black;

              border-bottom: 1px solid black;

              padding: 4px 6px;
            }
          }

          i {
            font-size: 28px;

            color: $CarminePink;
          }

          a {
            text-decoration: none;

            color: black;
          }
        }

        .price {
          span {
            color: $CarminePink;

            &::after {
              content: "đ";

              text-decoration: underline;
            }
          }
        }
      }
    }

    tfoot {
      tr,
      td {
        text-align: center;

        padding: 6px 10px;

        border: 1px solid $BrightGray;

        .btn-contineu {
          border-radius: 1px solid;

          padding: 12px;

          transition: all 0.5s;

          &:hover {
            color: white;

            border-color: $CarminePink;

            background-color: $CarminePink;
          }
        }

        .btn-pay {
          border-radius: 1px solid $CarminePink;

          border-color: $CarminePink;

          color: white;

          background-color: $CarminePink;

          padding: 12px;

          transition: all 0.5s;

          &:hover {
            color: $CarminePink;

            background-color: white;
          }

          @include max-screen($s) {
            padding: 4px;

            min-width: 120px;
          }
        }
      }
    }
  }
  @include max-screen($xxl) {
    max-width: 900px;
  }

  @include max-screen($sm) {
    max-width: 600px;
  }
  @include max-screen($s) {
    overflow-x: auto;
    max-width: 400px;
    min-height: 100px;
  }
}
