@import "../../../../../public/scss/utils/functions.scss";
@import "../../../../../public/scss/utils/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  @include Flex(flex, flex-start, center);
  @include Gap(5px, 0);
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  font-family: $Geologica;
  border-bottom: 1px solid #ebebeb;
  @include max-screen($xxl) {
    max-width: 900px;
  }
  @include max-screen($lg) {
    max-width: 600px;
  }
  @include max-screen($s) {
    max-width: 400px;
  }
  p {
    @include Size(14px, 400, normal);
    cursor: pointer;
    &:hover {
      color: $CarminePink;
    }
  }
  span {
    @include Size(14px, 400, normal);
    cursor: pointer;
    &::before {
      content: "\f101";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 5px;
      color: #ccc;
    }
    &:hover {
      color: $CarminePink;
    }
  }
  .line {
    color: $CarminePink;
  }
}

.block-true {
  display: none;

  margin: 0 auto;
  .item-empty {
    padding: 90px;
    height: calc(100vh - 850px);
    max-width: 1200px;
    margin: 0 auto;
    @include Flex(Flex, center, center);
    flex-direction: column;
    i {
      color: $CarminePink;
      font-size: 80px;
      margin: 20px 0px;
    }
    span {
      margin-bottom: 20px;
    }
  }
}
.block-false {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  .table {
    @include Flex(flex, space-around, center);
    border: 1px solid $BrightGray;
    .img-item {
      border-right: 1px solid $BrightGray;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .name-item {
      border-right: 1px solid $BrightGray;
      & a {
        color: black;
        text-decoration: none;
        &:hover {
          color: $CarminePink;
        }
      }
    }
    .price-item {
      @include Flex(flex, space-between, center);
      color: $CarminePink;
      & h6 {
        text-decoration: underline;
      }
      &::after {
        content: "";
        border-right: 1px solid $BrightGray;
      }
    }
    .quantity {
      @include Flex(Flex, center, center);
      border-right: 1px solid $BrightGray;
      div {
        border: 1px solid black;
        padding: 4px 7px;
        max-width: 24px;
        min-height: 30px;
      }
      button {
        border: 1px solid black;
        padding: 6px 10px;
        background-color: white;
        cursor: pointer;
      }
    }
    .sum {
      @include Flex(flex, space-between, center);
      color: $CarminePink;
      & h6 {
        text-decoration: underline;
      }
      &::after {
        content: "";
        border-right: 1px solid $BrightGray;
      }
    }
    .remo-item {
      i {
        font-size: 40px;
        color: $CarminePink;
      }
    }
  }
  .tong-price {
    @include Flex(flex, end, center);
    border: 1px solid $BrightGray;
    padding: 20px;
    .div {
      border-right: 1px solid $BrightGray;
      color: $BrightGray;
    }
    .number {
      @include Flex(Flex, space-around, center);
      margin-left: 200px;
      color: $CarminePink;
    }
  }
  .btn-flex {
    @include Flex(Flex, space-between, center);
    padding: 12px;
    border: 1px solid $BrightGray;
    .btn-continue {
      padding: 8px;
      border: 1px solid;
      border-color: black;
      transition: background-color ease-in-out 0.3s;
      &:hover {
        border-color: $CarminePink;
        background-color: $CarminePink;
        color: $Cultured;
      }
    }
    .btn-pay {
      padding: 8px;
      border: 1px solid;
      border-color: $CarminePink;
      background-color: $CarminePink;
      color: white;
      transition: background-color ease-in-out 0.3s;
      &:hover {
        background-color: white;
        color: red;
      }
    }
  }
}
