<footer>
  <div class="container">
    <!-- topfooter -->
    <div class="row">
      <div class="top-footer">
        <div class="top-footer-widget">
          <h4 class="top-footer-widget-title">THÔNG TIN CÔNG TY</h4>
          <div class="top-footer-widget-content">
            <ul class="top-footer-widget-content-menu">
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Trang chủ</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Về chúng tôi</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Sản phẩm</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Tin tức</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Liên hệ</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="top-footer-widget">
          <h4 class="top-footer-widget-title">Điều khoản</h4>
          <div class="top-footer-widget-content">
            <ul class="top-footer-widget-content-menu">
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Trang chủ</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Về chúng tôi</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Sản phẩm</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Tin tức</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Liên hệ</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="top-footer-widget">
          <h4 class="top-footer-widget-title">Hướng dẫn</h4>
          <div class="top-footer-widget-content">
            <ul class="top-footer-widget-content-menu">
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Trang chủ</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Về chúng tôi</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Sản phẩm</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Tin tức</a
                >
              </li>
              <li class="top-footer-widget-content-menu-item">
                <a href="" class="top-footer-widget-content-menu-item-link"
                  >Liên hệ</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="top-footer-widget">
          <div class="top-footer-widget-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59755.085771682876!2d105.73033230597794!3d20.60059686931227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313433272518ce69%3A0x801ec3badbb117f5!2zSMawxqFuZyBTxqFuLCBN4bu5IMSQ4bupYywgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1652926809000!5m2!1svi!2s"
              width="250"
              height="180"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mid-footer">
        <div class="mid-footer-payment-methods">
          <h4 class="mid-footer-payment-methods-title">Hỗ trợ thanh toán</h4>
          <div class="mid-footer-payment-methods-content">
            <ul class="mid-footer-ment-payment">
              <li class="mid-footer-payment-method">
                <img
                  src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_1_image.png?1676015131562"
                  alt=""
                />
              </li>
              <li class="mid-footer-payment-method">
                <img
                  src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_2_image.png?1676015131562"
                  alt=""
                />
              </li>
              <li class="mid-footer-payment-method">
                <img
                  src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_3_image.png?1676015131562"
                  alt=""
                />
              </li>
              <li class="mid-footer-payment-method">
                <img
                  src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_4_image.png?1676015131562"
                  alt=""
                />
              </li>
              <li class="mid-footer-payment-method">
                <img
                  src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_5_image.png?1676015131562"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="mid-footer-customer">
          <h4 class="mid-footer-customer-title">GIẢI ĐÁP THẮC MẮC</h4>
          <div class="mid-footer-customer-content">
            <div class="mid-footer-customer-content-image">
              <img
                src="https://bizweb.dktcdn.net/thumb/icon/100/091/132/themes/877468/assets/customer_care_image.png?1676015131562"
                alt=""
                class="img-responsive"
              />
            </div>
            <div class="mid-footer-customer-content-menu">
              <li class="mid-footer-customer-content-care-info">
                <p class="mid-footer-customer-content-care-title">
                  Tư vấn miễn phí (24/7)
                </p>
                <p class="mid-footer-customer-content-care-phone">
                  <a href="" class="mid-footer-customer-content-care-phone-link"
                    >1900 6750</a
                  >
                </p>
              </li>
              <div class="mid-footer-separating-line"></div>
              <li class="mid-footer-care-info">
                <p class="mid-footer-care-title">Tư vấn miễn phí (24/7)</p>
                <p class="mid-footer-care-phone">
                  <a href="" class="mid-footer-care-phone-link">1900 6750</a>
                </p>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--bottom footer  -->
    <div class="row">
      <div class="bottom-footer">
        <h4 class="bottom-footer-title">CÔNG TY CỔ PHẦN CÔNG NGHỆ DKT</h4>
        <div class="bottom-footer-row">
          <div class="bottom-footer-row-col-info">
            <p class="">
              Trụ sở chính: Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình
              - Hà Nội
            </p>
            <p class="">Điện thoại : (04) 6674 2332 - (04) 3786 8904</p>
          </div>
          <div class="bottom-footer-row-col-info">
            <p class="">
              VPDD: Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - P.15 - Q.11 - TP HCM
            </p>
            <p class="">Điện thoại : (08) 6680 9686 - (08) 3866 62764</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-content">
      <span>© Bản quyền thuộc về Avent Team</span>
      <span class="copyright-content-dividing-line">|</span>
      <span>Cung cấp bởi <a href="">Sapo</a></span>
    </div>
  </div>
  <div class="back-to-top"></div>
</footer>
