<div class="product-add">
  <h1>Sửa bài viết</h1>
  <form action="" class="form">
    <div class="form-control">
      <label for="">Tên bài viết:</label>
      <input type="text" class="name" />
    </div>
    <div class="form-control">
      <label for="">Tên tác giả:</label>
      <input type="text" class="name" />
    </div>
    <div class="form-control">
      <label for="">Ảnh</label>
      <input type="text" class="name" />
    </div>
    <div class="form-control">
      <label for="">Ngày đăng:</label>
      <div type="text" class="datetime">12/12/2003</div>
    </div>
    <div class="form-control">
      <label for="">Mô tả:</label>
      <input type="text" class="name" />
    </div>
    <div class="form-control">
      <label for="">Chi tiết:</label>
      <textarea
        name="description"
        id=""
        cols="30"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-control">
      <div class="btn">
        <input width="300px" class="btn-add" type="submit" value="Sửa" />
      </div>
    </div>
  </form>
</div>
