<div class="productsOutstanding">
  <div class="title">
    <div>
      <div>SẢN PHẨM NỔI BẬT</div>
    </div>
  </div>
  <div class="listProductsOutstanding">
    <div>
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/091/132/products/5-min-a5bb63b5-5f5e-4109-ae48-b6f4e3c5a3aa.jpg?v=1468202641487"
        alt=""
      />
      <div class="Groud">
        <p class="content">Giày da Converse cao cấp</p>
        <p class="priceNew">1.200.000</p>
        <p class="priceOld">1.400.000</p>
      </div>
    </div>
    <div>
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/091/132/products/5-min-a5bb63b5-5f5e-4109-ae48-b6f4e3c5a3aa.jpg?v=1468202641487"
        alt=""
      />
      <div class="Groud">
        <p class="content">Giày da Converse cao cấp</p>
        <p class="priceNew">1.200.000</p>
        <p class="priceOld">1.400.000</p>
      </div>
    </div>
    <div>
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/091/132/products/5-min-a5bb63b5-5f5e-4109-ae48-b6f4e3c5a3aa.jpg?v=1468202641487"
        alt=""
      />
      <div class="Groud">
        <p class="content">Giày da Converse cao cấp</p>
        <p class="priceNew">1.200.000</p>
        <p class="priceOld">1.400.000</p>
      </div>
    </div>
    <div>
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/091/132/products/5-min-a5bb63b5-5f5e-4109-ae48-b6f4e3c5a3aa.jpg?v=1468202641487"
        alt=""
      />
      <div class="Groud">
        <p class="content">Giày da Converse cao cấp</p>
        <p class="priceNew">1.200.000</p>
        <p class="priceOld">1.400.000</p>
      </div>
    </div>
  </div>
</div>
