<div class="productsOutstanding">
  <div class="title">
    <div>
      <div>SẢN PHẨM NỔI BẬT</div>
    </div>
  </div>
  <div class="listProductsOutstanding">
    <div
      *ngFor="let item of first4Products"
      class="article-slider"
      [routerLink]="['/products/', item._id]"
    >
      <img
        src="https://bizweb.dktcdn.net/thumb/small/100/091/132/products/5-min-a5bb63b5-5f5e-4109-ae48-b6f4e3c5a3aa.jpg?v=1468202641487"
        alt=""
      />
      <div class="Groud">
        <p class="content">{{ item.name }}</p>
        <p class="priceNew">
          {{
            item.priceNew.toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND"
            })
          }}
        </p>
        <p class="priceOld" *ngIf="item.priceOld">
          {{
            item.priceOld.toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND"
            })
          }}
        </p>
      </div>
    </div>
  </div>
</div>
